<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update book</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

<form action="/update_book">
    <div class="input-group mb-3">
        <div class="input-group-append">
            <input type="text" class="form-control" placeholder="Book id" aria-label="Book id" name="id" aria-describedby="basic-addon2">
        </div>

        <div class="input-group-append">
            <input type="text" class="form-control" placeholder="Book name" aria-label="Book name" name="name" aria-describedby="basic-addon2">
        </div>

        <div class="input-group-append">
            <input type="text" class="form-control" placeholder="Author id" aria-label="Author id" name="author_id" aria-describedby="basic-addon2">
        </div>

        <div class="input-group-append">
            <input type="text" class="form-control" placeholder="Genre id" aria-label="Genre id" name="genre_id" aria-describedby="basic-addon2">
        </div>

        <div class="input-group-append">
            <button class="mb-2 btn btn-primary" type="submit">Send</button>
        </div>
    </div>
</form>
<a class="mb-2 btn btn-primary" href="/" role="button">Main page</a>

</body>
</html>