<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

<h1 class="p-3 mb-2 text-white w-100" align="center">Library</h1>
<br>
<div class="col text-center">
    <a class="mb-2 btn btn-primary" href="/books" role="button">All books</a>
</div>
<div class="col text-center">
    <a class="mb-2 btn btn-primary" href="/find_book_form" role="button">Get book</a>
</div>
<div class="col text-center">
    <a class="mb-2 btn btn-primary" href="/add_book_form" role="button">Add book</a>
</div>
<div class="col text-center">
    <a class="mb-2 btn btn-primary" href="/update_book_form" role="button">Update book</a>
</div>
<div class="col text-center">
    <a class="mb-2 btn btn-primary" href="/delete_book_form" role="button">Delete book</a>
</div>

<br>
</body>
</html>